<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="flex justify-center p-4 my-4">
        <div class="flex flex-col">
            <p class="mx-auto text-center font-bold mb-4 text-lg w-60 text-white rounded bg-gradient-to-r from-green-600 to-blue-700">Detalles del contacto:</p>
            <div class="shadow-2xl border-1 border-gray-400 rounded-xl bg-white p-5">
                <table class="p-6">
                    <tr class="border-b">
                        <td class="px-4">Nombre:</td>
                        <td><%= contacto.datos.nombre %></td>
                    </tr>
                    <tr class="border-b">
                        <td class="px-4">Numero Identificación:</td>
                        <td><%= contacto.datos.numero %></td>
                    </tr>
                    <tr class="border-b">
                        <td class="px-4">Telefono:</td>
                        <td><%= contacto.datos.telefono %></td>
                    </tr>
                    <tr class="border-b">
                        <td class="px-4">Dirección:</td>
                        <td><%= contacto.datos.direccion %></td>
                    </tr>
                </table>
    
            </div>
        </div>
    </div>
</body>
</html>