<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📚Agenda de Contactos</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-">
    <h2 class="font-extrabold text-lg text-gray-200 px-5 py-3 text-center bg-gradient-to-r from-green-400 to-blue-500">📕AGENDA DE CONTACTOS</h2>
            <form action="agregar" method="post" class="pt-5 flex justify-center bg-gray-100">
                <div class="flex flex-col w-96 justify-center">
                    <input class="border mt-1 px-3" type="text" name="nombre" placeholder="Nombre">
                    <input class="border mt-1 px-3" type="text" name="numero" placeholder="Numero Identidad">
                    <input class="border mt-1 px-3" type="text" name="direccion" placeholder="Direccion">
                    <input class="border mt-1 px-3" type="text" name="telefono" placeholder="Telefono">
                    <button type="submit" class="mt-1 mb-5 text-lg mx-auto w-60 text-white btn rounded bg-gradient-to-r from-green-600 to-blue-700 py-1">Agregar Contacto</button>
                </div>
            </form>

            <div class="p-3 flex justify-center border-t-2">
                <div class="shadow-2xl px-4 py-4 w-96 border-2 border-gray-300 flex flex-col rounded-xl bg-red-100">
                    <h3 class="text-center font-bold mb-4">Contactos Registrados:</h3>
                    <% contactos.map(item => { %>
                        <div class="border-b border-gray-400 flex justify-between p-1 content-center">
                            <a class="rounded-3xl px-2 text-blue-600 hover:bg-green-700 hover:text-white hover:shadow-2xl" href="contacto/<%= item.id %>"><%= item.datos.nombre %> - <%= item.datos.numero %>  </a>
                            <a class="px-2 text-gray-200 btn bg-red-700 rounded" href="borrar/<%= item.id %>">Borrar </a>
                        </div>
                    <% }) %>
                </div>
            </div>
</body>
</html>