<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📚Agenda de Contactos</title>
</head>
<body>
    <h2>AGENDA SD</h2>
    <form action="agregar" method="post">
        <input type="text" name="nombre" placeholder="nombre">
        <input type="text" name="numero" placeholder="numero">
        <input type="text" name="direccion" placeholder="direccion">
        <input type="text" name="telefono" placeholder="telefono">
        <button type="submit">Agregar Contacto</button>

        <br>
        <% contactos.map(item => { %>
            <p> <%= item.datos.nombre %> </p>
        <% }) %>

    </form>
</body>
</html>